MoviesLibrary.Web/Service References/MoviesLibraryService/MoviesLibraryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MoviesLibraryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50666/MoviesLibraryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50666/MoviesLibraryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50666/MoviesLibraryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MoviesLibrary.Service.DataContracts" />
      <xsd:import schemaLocation="http://localhost:50666/MoviesLibraryService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMoviesLibraryService_GetAllMovies_InputMessage" />
  <wsdl:message name="GetAllMoviesResponse">
    <wsdl:part name="parameters" element="tns:GetAllMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="GetMovieByIdRequest">
    <wsdl:part name="parameters" element="tns:GetMovieByIdRequest" />
  </wsdl:message>
  <wsdl:message name="GetMovieByIdResponse">
    <wsdl:part name="parameters" element="tns:GetMovieByIdResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMovieRequest">
    <wsdl:part name="parameters" element="tns:UpdateMovieRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateMovieResponse">
    <wsdl:part name="parameters" element="tns:UpdateMovieResponse" />
  </wsdl:message>
  <wsdl:message name="CreateMovieRequest">
    <wsdl:part name="parameters" element="tns:CreateMovieRequest" />
  </wsdl:message>
  <wsdl:message name="CreateMovieResponse">
    <wsdl:part name="parameters" element="tns:CreateMovieResponse" />
  </wsdl:message>
  <wsdl:message name="SearchMoviesRequest">
    <wsdl:part name="parameters" element="tns:SearchMoviesRequest" />
  </wsdl:message>
  <wsdl:portType name="IMoviesLibraryService">
    <wsdl:operation name="GetAllMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/IMoviesLibraryService/GetAllMovies" message="tns:IMoviesLibraryService_GetAllMovies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMoviesLibraryService/GetAllMoviesResponse" name="GetAllMoviesResponse" message="tns:GetAllMoviesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetMovieById">
      <wsdl:input wsaw:Action="http://tempuri.org/IMoviesLibraryService/GetMovieById" name="GetMovieByIdRequest" message="tns:GetMovieByIdRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMoviesLibraryService/GetMovieByIdResponse" name="GetMovieByIdResponse" message="tns:GetMovieByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMoviesLibraryService/UpdateMovie" name="UpdateMovieRequest" message="tns:UpdateMovieRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMoviesLibraryService/UpdateMovieResponse" name="UpdateMovieResponse" message="tns:UpdateMovieResponse" />
    </wsdl:operation>
    <wsdl:operation name="CreateMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMoviesLibraryService/CreateMovie" name="CreateMovieRequest" message="tns:CreateMovieRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMoviesLibraryService/CreateMovieResponse" name="CreateMovieResponse" message="tns:CreateMovieResponse" />
    </wsdl:operation>
    <wsdl:operation name="SearchMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/IMoviesLibraryService/SearchMovies" name="SearchMoviesRequest" message="tns:SearchMoviesRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMoviesLibraryService/SearchMoviesResponse" name="GetAllMoviesResponse" message="tns:GetAllMoviesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMoviesLibraryService" type="tns:IMoviesLibraryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMovies">
      <soap:operation soapAction="http://tempuri.org/IMoviesLibraryService/GetAllMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAllMoviesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieById">
      <soap:operation soapAction="http://tempuri.org/IMoviesLibraryService/GetMovieById" style="document" />
      <wsdl:input name="GetMovieByIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMovieByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <soap:operation soapAction="http://tempuri.org/IMoviesLibraryService/UpdateMovie" style="document" />
      <wsdl:input name="UpdateMovieRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateMovieResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMovie">
      <soap:operation soapAction="http://tempuri.org/IMoviesLibraryService/CreateMovie" style="document" />
      <wsdl:input name="CreateMovieRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateMovieResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchMovies">
      <soap:operation soapAction="http://tempuri.org/IMoviesLibraryService/SearchMovies" style="document" />
      <wsdl:input name="SearchMoviesRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAllMoviesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MoviesLibraryService">
    <wsdl:port name="BasicHttpBinding_IMoviesLibraryService" binding="tns:BasicHttpBinding_IMoviesLibraryService">
      <soap:address location="http://localhost:50666/MoviesLibraryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>